
    <form action="/Funcionario/Atualiza/@ViewBag.Funcionario.Id" method="post">

        <label for="nome">Nome: </label>
        <input id="nome" value="@ViewBag.Funcionario.Nome" name="funcionario.Nome" class="form-control" />

        <label for="equipe">Equipe: </label>
        <select id="equipe" name="funcionario.EquipeId" class="form-control">
            @foreach (var equipe in ViewBag.Equipe)
            {
                <option value="@equipe.Id" selected="@equipe.Id.Equals(ViewBag.Funcionario.EquipeId)">
                    @equipe.NomeEquipe
                </option>
            }
        </select>

        <label for="cargo">Cargo: </label>
        <select id="cargo" name="funcionario.CargoId" class="form-control">
            @foreach (var cargo in ViewBag.Cargo)
            {
                <option value="@cargo.Id" selected="@cargo.Id.Equals(ViewBag.Funcionario.CargoId)">
                    @cargo.NomeCargo
                </option>
            }
        </select>

        <label for="TipoPerfil">Tipo de perfil:</label>
        <select id="TipoPerfil" name="funcionario.TipoPerfil" class="form-control">
            @foreach (var perfil in ViewBag.ListaEnum)
            {
                <option value="@perfil.Value"                        
                        selected="@Convert.ToInt32(perfil.Value).Equals(Convert.ToInt32(ViewBag.Funcionario.TipoPerfil))">
                    @perfil.Text
                </option>
            }
        </select>

        <label for="maquina">Maquina: </label>
        <input id="maquina" value="@ViewBag.Funcionario.Maquina" name="funcionario.Maquina" class="form-control" />

        @*<label for="usuarioId">UsuarioId: </label>
        <input id="usuarioId" value="@ViewBag.Funcionario.UsuarioId" name="usuarioId" class="form-control" />*@

        @*<label for="EhGestor">Gestor: "True or False"</label>
        <input id="EhGestor" value="@ViewBag.Funcionario.GestorId" name="funcionario.EhGestor" class="form-control" />*@

        <input class="btn btn-primary" type="submit" value="Alterar" />

    </form>



