@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<td>
    <a class="btn btn-primary pull-right" href="Form/">Adicionar</a>
</td>

<h2>Lista de Funcionario do sistema.</h2>

<label class="text-uppercase">Pesquisar funcionario</label>
<input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome do funcionario">
<label style="opacity:0;">conselho</label>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Equipe</th>
            <th>Cargo</th>
            <th>Maquina</th>
            <th>CodigoVerificacao</th>
            <th>Tipo Perfil</th>
            @*<th>Gestor</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in ViewBag.Funcionario)
        {
            <tr class="busca">
                <td>@funcionario.Id</td>
                <td class="info-nome">@funcionario.Nome</td>
                <td>@funcionario.Equipe.NomeEquipe</td>
                <td>@funcionario.Cargo.NomeCargo</td>
                <td>@funcionario.Maquina</td>
                <td>@funcionario.CodigoVerificacao</td>
                <td>@funcionario.TipoPerfil</td>
                @*<td>@funcionario.EhGestor</td>*@
                <td>
                    <a class="btn btn-primary" href="Alterar/@funcionario.Id">Alterar</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="Remover/@funcionario.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>