<div class="navbar-collapse collapse">
    <ul class="nav navbar-header">
        <li>@Html.ActionLink("Cadastrar Cargo", "Form", "Cargo")</li>
        <li>@Html.ActionLink("Cadastrar Equipe", "Form", "Equipe")</li>
        <li>@Html.ActionLink("Cadastrar Funcionario", "Form", "Funcionario")</li>
        <li>@Html.ActionLink("Cadastrar Software", "Form", "Software")</li>
        <li>@Html.ActionLink("Cadastrar Licenca", "Form", "Licenca")</li>
        <li>@Html.ActionLink("Cadastrar Usuario", "Form", "Usuario")</li>
    </ul>
    <ul class="nav navbar-header navbar-right">
        <li>@Html.ActionLink("Mostrar Cargo", "Index", "Cargo")</li>
        <li>@Html.ActionLink("Mostrar Equipe", "Index", "Equipe")</li>
        <li>@Html.ActionLink("Mostrar Funcionario", "Index", "Funcionario")</li>
        <li>@Html.ActionLink("Mostrar Software", "Index", "Software")</li>
        <li>@Html.ActionLink("Mostrar Licenca", "Index", "Licenca")</li>
        <li>@Html.ActionLink("Mostrar Usuario", "Visualiza", "Usuario")</li>
    </ul>

</div>